@model EmployeeInformationSystem.Model.ResetNewPasswordViewModel

@{
    ViewBag.Title = "Set New Password";
}

<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-border-color panel-border-color-primary">
                <div class="panel-heading panel-heading-divider">Reset Password</div>
                <div class="panel-body">
                    @Html.Raw(TempData["Msg"])
                    <div class="row">
                        <br />
                        <div class="col-md-6 col-md-push-3">
                            @*<p style="color:red;"><b>Note: </b>Space & special characters are not allowed.</p>*@
                            <div class="panel panel-border-color panel-border-color-warning">
                                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal group-border-dashed", @style = "border-radius: 0px;" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">New Password</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password" } })
                                            @Html.ValidationMessageFor(model => model.NewPassword)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Confirm Password</label>
                                        <div class="col-sm-8">
                                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"></label>
                                        <div class="col-sm-8">
                                            <button class="btn btn-success" type="submit">Reset</button>
                                        </div>
                                    </div>
                                }
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
