@model EmployeeInformationSystem.Model.ChangePasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="assets/img/logo-fav.png">
    <title>LPS - Change New Password</title>
    @Styles.Render("~/css/login")
</head>
<body class="be-splash-screen">
    <div class="be-wrapper be-login">
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="splash-container">
                    <div class="panel panel-default panel-border-color panel-border-color-primary">
                        <div class="panel-heading">
                            <img src="~/Content/beagle_Theme/assets/img/lps-logo.jpg" alt="logo" width="102" height="27" class="logo-img"><span class="splash-description">Please enter your new password.</span>
                            @Html.Raw(TempData["Msg"])
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("ChangeNewPassword", "Auth", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                                <div class="form-group login-submit">
                                    <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">Change Password</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="splash-footer"><span>Copyright @DateTime.Now.Year Logic Powered Solutions | All Rights Reserved</span></div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js/login")
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
        });
    </script>
</body>
</html>

