@model EmployeeInformationSystem.Model.ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="~/Content/beagle_Theme/assets/img/logo-fav.png">
    @Styles.Render("~/css/login")
</head>
<body class="be-splash-screen">
    <div class="be-wrapper be-login">
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="splash-container forgot-password">
                    <div class="panel panel-default panel-border-color panel-border-color-primary">
                        <div class="panel-heading">
                            <img src="@Url.Content("~/Content/beagle_Theme/assets/img/lps-logo.jpg")" alt="logo" width="102" height="27" class="logo-img"><span class="splash-description">Forgot your password?</span>
                            @Html.Raw(TempData["Msg"])
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <p>Don't worry, we'll send you an email to reset your password.</p>
                                <div class="form-group xs-pt-20">
                                    @Html.EditorFor(model => model.CompanyEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Company Email" } })
                                    @Html.ValidationMessageFor(model => model.CompanyEmail)
                                </div>
                                <p class="xs-pt-5 xs-pb-20">Don't remember your email? <a href="#">Contact Support</a>.</p>
                                <div class="form-group xs-pt-5">
                                    <button type="submit" class="btn btn-block btn-primary btn-xl">Reset Password</button>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="splash-footer">Copyright @DateTime.Now.Year Logic Powered Solutions | All Rights Reserved</div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js/login")
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
        });
    </script>
</body>
</html>