@model EmployeeInformationSystem.Model.LeaveAllowedInfo

@{
    ViewBag.Title = "Reset Leaves";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-border-color panel-border-color-primary">
                <div class="panel-heading panel-heading-divider">Reset Leaves</div>
                <div class="panel-body">
                    @Html.Raw(TempData["Msg"])
                    <br />
                    <div class="row">
                        <div class="col-md-6 col-md-push-3">
                            <div class="panel panel-border-color panel-border-color-warning">
                                <div class="row">
                                    <div class="col-md-12 col-md-push-2">
                                        @using (Html.BeginForm("Reset", "Leave", FormMethod.Post, new { @class = "form-horizontal group-border-dashed", @style = "border-radius: 0px;" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(x => x.EmployeeInfoId)

                                            <h4 class="xs-mb-20">
                                                @Model.EmployeeFullName
                                            </h4>

                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <label>Casual Leaves Allowed</label>
                                                        @*@Html.DropDownListFor(model => model.Casual, (SelectList)ViewBag.CasualLeavesAllowed, new { @class = "form-control" })*@
                                                        @Html.DropDownListFor(model => model.Casual, Enumerable.Range(0, 6).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-8">
                                                        <label>Annual Leaves Allowed</label>
                                                        @*@Html.DropDownListFor(model => model.Annual, (SelectList)ViewBag.AnnualLeavesAllowed, new { @class = "form-control" })*@
                                                        @Html.DropDownListFor(model => model.Annual, Enumerable.Range(0, 16).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString() }), new { @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <button type="submit" onclick="return confirm('Are you sure want to reset leaves?');" class="btn btn-success">Reset</button>
                                                    </div>
                                                </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
